/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
@media (prefers-color-scheme: dark) {
  html{
      --tw-bg-opacity: 1;
      background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }
}
