/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
@import '~notyf/notyf.min.css';


html{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
@media (prefers-color-scheme: dark) {
  html{
      --tw-bg-opacity: 1;
      background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  }
}


.noty_theme__mint.noty_type__success {
  background-color: #60a917;
  color: #fff;

  .noty_progressbar {
    opacity: 0.4;
  }
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #1ba1e2;
  color: #fff;
  .noty_progressbar {
    opacity: 0.4;
  }
}

.noty_theme__mint.noty_type__warning {
  .noty_progressbar {
    opacity: 0.3;
  }
}
.noty_theme__mint.noty_type__error{
  background-color: #c75957;
  color: #fff;

  .noty_progressbar {
    opacity: 0.4;
  }
}

::-ms-reveal{
  display: none;
}
